body {
  font-size: 18px;
  margin: 0;
  font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
  background-color: #8B94E8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  appearance: none;
  background-color: inherit;
  border-style: groove;
  font-weight: bolder;
  border-radius: 10px;
  padding: 0.5em;
  font-size: inherit;
}

button:active{
  transform: scale(0.98);
}

