body {
  font-size: 18px;
  margin: 0;
  font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
  background-color: #8B94E8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



