body {
  margin: 0;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  background-image: url(https://wallpapercave.com/wp/DH5Z28x.png);
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

